@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";

.anim {
  animation: bounce 4s ease-in infinite;
  transform-origin: center bottom;
}
.invisibile {
  display: none;
}
.fullscreen:-webkit-full-screen {
  width: auto !important;
  height: auto !important;
  margin: auto !important;
}
.fullscreen:-moz-full-screen {
  width: auto !important;
  height: auto !important;
  margin: auto !important;
}
.fullscreen:-ms-full-screen {
  width: auto !important;
  height: auto !important;
  margin: auto !important;
}
.fullscreen:-o-full-screen {
  width: auto !important;
  height: auto !important;
  margin: auto !important;
}
.centro {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
